 Eduardo Guzman
 
 COSC 30103 Spring 2021

In [17]:
import pandas as pd

#First we import the goodreads dataset
dataset = pd.read_csv("goodreads_books.csv")

#Note the number of rows, columns, and NaN values
rows, columns = dataset.shape
empty = dataset.isnull().sum().sum()
print("rows: {}, columns: {}, NaN: {}".format(rows, columns, empty))

rows: 52199, columns: 31, NaN: 285076

In [18]:
#Note the names of the columns
dataset.columns

Index(['id', 'title', 'link', 'series', 'cover_link', 'author', 'author_link',
       'rating_count', 'review_count', 'average_rating', 'five_star_ratings',
       'four_star_ratings', 'three_star_ratings', 'two_star_ratings',
       'one_star_ratings', 'number_of_pages', 'date_published', 'publisher',
       'original_title', 'genre_and_votes', 'isbn', 'isbn13', 'asin',
       'settings', 'characters', 'awards', 'amazon_redirect_link',
       'worldcat_redirect_link', 'recommended_books', 'books_in_series',
       'description'],
      dtype='object')

In [19]:
#We drop the columns that are not quite necessary
#In this case we have a lot of metadata columns ('amazon_redirect_link', 'author_link')
dataset = dataset.drop(columns=["id", "link", "cover_link", "author_link", 
                                "amazon_redirect_link", "worldcat_redirect_link", "settings", "awards",
                                "recommended_books", "books_in_series", "description", "series",
                                "original_title", "isbn", "isbn13", "asin", "characters"])

#Show the first 5 rows of the new dataset
dataset.head(5)

,title,author,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,number_of_pages,date_published,publisher,genre_and_votes
0,Inner Circle,"Kate Brian, Julian Peploe",7597,196,4.03,3045,2323,1748,389,92,220.0,January 1st 2007,Simon Schuster Books for Young Readers,"Young Adult 161, Mystery 45, Romance 32"
1,A Time to Embrace,Karen Kingsbury,4179,177,4.35,2255,1290,518,93,23,400.0,October 29th 2006,Thomas Nelson,"Christian Fiction 114, Christian 45, Fiction 3..."
2,Take Two,Karen Kingsbury,6288,218,4.23,3000,2020,1041,183,44,320.0,January 1st 2009,Zondervan,"Christian Fiction 174, Christian 81, Fiction 58"
3,Reliquary,"Douglas Preston, Lincoln Child",38382,1424,4.01,12711,15407,8511,1429,324,464.0,1997,Tor Books,"Thriller 626, Mystery 493, Horror 432, Fiction..."
4,The Millionaire Next Door: The Surprising Secr...,"Thomas J. Stanley, William D. Danko",72168,3217,4.04,27594,25219,14855,3414,1086,258.0,October 28th 1995,Gallery Books,"Economics-Finance 1162, Nonfiction 910, Busine..."

In [20]:
#Note that the 'date_published' column is somewhat messy
#We now modify the column to be only the year, and convert from string to integer
dataset["date_published"] = dataset["date_published"].str[-4:]
dataset.head(5)

,title,author,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,number_of_pages,date_published,publisher,genre_and_votes
0,Inner Circle,"Kate Brian, Julian Peploe",7597,196,4.03,3045,2323,1748,389,92,220.0,2007,Simon Schuster Books for Young Readers,"Young Adult 161, Mystery 45, Romance 32"
1,A Time to Embrace,Karen Kingsbury,4179,177,4.35,2255,1290,518,93,23,400.0,2006,Thomas Nelson,"Christian Fiction 114, Christian 45, Fiction 3..."
2,Take Two,Karen Kingsbury,6288,218,4.23,3000,2020,1041,183,44,320.0,2009,Zondervan,"Christian Fiction 174, Christian 81, Fiction 58"
3,Reliquary,"Douglas Preston, Lincoln Child",38382,1424,4.01,12711,15407,8511,1429,324,464.0,1997,Tor Books,"Thriller 626, Mystery 493, Horror 432, Fiction..."
4,The Millionaire Next Door: The Surprising Secr...,"Thomas J. Stanley, William D. Danko",72168,3217,4.04,27594,25219,14855,3414,1086,258.0,1995,Gallery Books,"Economics-Finance 1162, Nonfiction 910, Busine..."

In [26]:
#We now want to apply some filters to the data and dead with all the NaN's

#Only consider the books with more than 10 reviews  
dataset = dataset.loc[(dataset["review_count"] > 10)]

#Observe that the statement above dealt with most of the NaN's 
dataset.isnull().sum()

title                    0
author                   0
rating_count             0
review_count             0
average_rating           0
five_star_ratings        0
four_star_ratings        0
three_star_ratings       0
two_star_ratings         0
one_star_ratings         0
number_of_pages       1264
date_published         388
publisher             2488
genre_and_votes        414
dtype: int64

In [28]:
#Now Drop the remaning NaN's
dataset = dataset.dropna()
dataset.isnull().sum()

title                 0
author                0
rating_count          0
review_count          0
average_rating        0
five_star_ratings     0
four_star_ratings     0
three_star_ratings    0
two_star_ratings      0
one_star_ratings      0
number_of_pages       0
date_published        0
publisher             0
genre_and_votes       0
dtype: int64

In [30]:
#Create new Columns in the data 
#These give the percentage of user ratings that were four or higher and another column for 3 or higher
dataset["percent_rated_four_or_higher"] = (dataset.iloc[:, 5:7].sum(axis=1) / dataset["rating_count"])*100
dataset["percent_rated_three_or_higher"] = (dataset.iloc[:, 5:8].sum(axis=1) / dataset["rating_count"])*100

#Re-arange the columns so that they are next to the user ratings
cols = list(dataset.columns.values)
dataset = dataset[cols[0:10] + cols[-2:] + cols[10:-2]]

dataset.head(4)

,title,author,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,percent_rated_four_or_higher,percent_rated_three_or_higher,number_of_pages,date_published,publisher,genre_and_votes
0,Inner Circle,"Kate Brian, Julian Peploe",7597,196,4.03,3045,2323,1748,389,92,70.659471,93.668553,220.0,2007,Simon Schuster Books for Young Readers,"Young Adult 161, Mystery 45, Romance 32"
1,A Time to Embrace,Karen Kingsbury,4179,177,4.35,2255,1290,518,93,23,84.828906,97.224216,400.0,2006,Thomas Nelson,"Christian Fiction 114, Christian 45, Fiction 3..."
2,Take Two,Karen Kingsbury,6288,218,4.23,3000,2020,1041,183,44,79.834606,96.389949,320.0,2009,Zondervan,"Christian Fiction 174, Christian 81, Fiction 58"
3,Reliquary,"Douglas Preston, Lincoln Child",38382,1424,4.01,12711,15407,8511,1429,324,73.258298,95.432755,464.0,1997,Tor Books,"Thriller 626, Mystery 493, Horror 432, Fiction..."

In [31]:
#Note the number of rows, columns, and NaN values
rows, columns = dataset.shape
empty = dataset.isnull().sum().sum()
print("rows: {}, columns: {}, NaN: {}".format(rows, columns, empty))

rows: 40886, columns: 16, NaN: 0

In [33]:
#Save the new database as a csv file
dataset.to_csv("final_goodreads_books.csv")

print('Done')

Done